:root {
  --primary-text-color: #757575;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --primary-text-button-color: #ffffff;
  --secondary-text-button-color: #212121;
  --logo-header-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header {
  color: var(--logo-header-color);
}
.logo-footer {
  color: var(--primary-text-button-color);
}
.logo-first-part {
  color: var(--accent-color);
}
.btn {
  cursor: pointer;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*------------------- header---------------------------------- */

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-button-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contacts-link:focus,
.header-contacts-link:hover {
  color: var(--accent-color);
}

/* ------------------------hero---------------------- */
.hero {
  background-color: var(--footer-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-button-color);
}

/* -------------------peculiarities section---------------- */

.peculiarities-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* --------------team section-------------------------------- */

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* --------------footer----------------- */
.footer {
  background-color: var(--footer-background-color);
}
.address {
  font-style: inherit;
}

.address-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.footer-contacts-link:focus,
.footer-contacts-link:hover {
  color: var(--accent-color);
}

/* -----------------our-projects section----------------------- */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-button-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-text-button-color);
}
.our-projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}
.our-projects-filter {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
