:root {
  --primary-text-color: #757575;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --primary-text-button-color: #ffffff;
  --secondary-text-button-color: #212121;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --logo-first-part-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-header {
  color: var(--logo-header-color);
}
.logo-footer {
  color: var(--logo-footer-color);
}
.logo-first-part {
  color: var(--logo-first-part-color);
}
/*------------------- header---------------------------------- */

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-button-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.header-contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contacts-item:focus,
.header-contacts-item:hover {
  color: var(--accent-color);
}

/* ------------------------hero---------------------- */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-button-color);
}
